<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p> </p>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Get Data!</a></p>
    </div>
    <!-- News  -->
    <div class="container">
        <h3>Latest Mars News</h3>
        <h6 style="color:black">{{ mars_info.news_title }}</h6>
        <p>{{ mars_info.news_paragraph }}</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <h3>Featured Mars Image</h3>
                <img src="{{ mars_info.new_image_url }}" style="max-width:100%; max-height: auto;" alt="Featured Mars Image">
            </div>
            <!-- Weather -->
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="card" style="width: 18rem;">
                    <div class="card-body text-white bg-dark">
                        <h6 class="card-title">Current Weather on Mars</h6>
                        <p class="card-text">{{ mars_info.weather_tweet }}</p>
                    </div>
                </div>
                <br>
                <h3>Mars Facts</h3>
                <div style="max-width: 300px; max-height: 100px; font-size: 15px; margin-bottom: 65px;">
                    {{ mars_info.mars_facts|safe}}
                </div>                
            </div>
        </div>  
    </div>
    <!-- Four Image -->
    <h3 style="padding-top: 10px; margin-top: 30px; text-align: center;">Mars Hemispheres</h3>
    <div class="card-deck">
        <hr>
        <div class="col-md-12">
            <div class="row">
                {% for item in mars_info.hiu %}
                <div class="col-md-6">
                    <div class="card text-white bg-dark" style="margin: 30px;">
                        <img class="card-img-top" src="{{ item.img_url}}" style= "max-width:100%; max-height: auto%" />
                        <div class="card-body">
                            <p class="card-text">{{ item.title }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>